
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/.qmake.stash
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/dsstring.o
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/FlightPlanner.exe
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/tests.o
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/flight.o
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/main.o
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Debug
build-FlightPlanner-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Release
FlightPlanner/FlightPlanner.pro
FlightPlanner/FlightPlanner.pro.user
